.container-aluno{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    padding: 10px;
    border-radius: 10px;
   
}
.nota-real{
    background-color: aliceblue;
    padding: 15px;
}
.inputs-css{
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 5px solid cadetblue;
   
}
    #aprovado{
        color: green;
        font-size: larger;
    }
    #reprovado{
        color: red;
        font-size: large;
    }
    #recuperacao{
        color: red;
        font-size: large;
    }
.btn-aprovacao{
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border: none;
}
.btn-aprovacao:hover{
    padding: 10px;
    background-color: white;
    color: cadetblue;
    border: none;
    cursor: pointer;
    transition: 1.2s;
}
